[Desktop Entry]
Name=Minicom
Type=Application
Comment=Terminal Emulator
Comment[es]=Emulador de Terminal
Comment[pl]=Emulator terminala
Comment[pt]=Emulador de Terminal
Comment[pt_BR]=Emulador de Terminal
Comment[sv]=Terminalemulato
Exec=minicom
Terminal=true
Icon=minicom.png
# vi: encoding=utf-8
